.review{
    display:flex;
    padding:10px 5px;
    border-bottom: 1px solid lightgrey;
}
.review-product-image{
    padding:5px;
}
.review-product-image img{
    border:2px solid grey;
    border-radius:50%;
}
.review-product-image img:hover{
    border:none;
    border-radius:0;
}
.review-product-info{
    line-height:2;
    margin-left:15px;
    padding:5px;
}
.review-product-info p{
    color: teal;
    font-weight: 500;
}
.review-product-info h4{
    color:rgb(55, 39, 126);
}